/******************************************** Legenda ********************************************/

/*
    31 > General
    62 > Characters
    78 > Characters System
    90 > Button

    118 > Logo
    136 > Menu
    181 > Menu Mobile

    200 > Column System
    264 > Post
    274 > Form
    353 > Header

    362 > Prodotti
    385 > Ordine

    400 > Image
    415 > Galleria

    421 > Widget
    428 > Contatti
    443 > Breadcrumbs
    456 > News
*/


/*//////////////////////////////////////////////////////////////////////////////*** General ****/

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
	padding: 0;
}
html,
body {
    background-color: #ffffff;
    color: black;
    font-size: 17px;
}
footer,
footer a {
    background-color: #95c11f;
    color: #ffffff;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: #95c11f;
}
li {
    margin-left: 10px;
    line-height: 25px;
}
li::marker {
    color: #95c11f;
}

/*//////////////////////////////////////////////////////////////////////////////*** Characters ****/

p {
    margin-bottom: 20px;
    line-height:25px;
}
h1,
h1 a,
h2 a:hover {
    color: #95c11f;
}
h3 {
    color: #95c11f;
    margin-bottom: 10px;
}

/*//////////////////////////////////////////////////////////////////////////////*** Characters System ****/

.padding-col-15 {
    padding: 15px 0px;
}
.padding-col-30 {
    padding: 30px 0px;
}
.align-center {
    text-align: center;
}

/*//////////////////////////////////////////////////////////////////////////////*** Button ****/

.button {
    background-color: #95c11f;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 4px #e0e0e0;
}
.button-green {
    background-color: #95c11f; 
    border: 2px solid #95c11f;
    color: #ffffff; 
}
.button-green:hover {
    background-color: #111; 
    border: 2px solid #111;
    color: white;
}

/*//////////////////////////////////////////////////////////////////////////////*** Logo ****/

.logo {
    background-color: #333;
}
img.custom-logo {
    width: 300px;
    height: 102px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #333333;
}
@media screen  and (max-width: 900px) and (min-width: 100px) {
    img.custom-logo {
        width: 200px;
        height: 68px;
    }
}

/*//////////////////////////////////////////////////////////////////////////////*** Menu ****/

.menu-main-navigation-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
.menu-main-navigation-container li {
    float: left;
    margin-left: 0px;
}
.menu-main-navigation-container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu-main-navigation-container li a:hover {
    background-color: #111;
}
.menu-main-navigation-container li:last-child {
    background-color: #95c11f;
    border-bottom: solid 2px #000000;
    float: right;
}
.current_page_item {
    border-bottom: solid 2px #95c11f;
}

@media screen  and (max-width: 900px) and (min-width: 100px) {
    #menuObct {
        display: none;
    }
    .menu-main-navigation-container li {
        float: none;
    }
    .menu-main-navigation-container li:last-child {
        float: none;
    }
}

/*//////////////////////////////////////////////////////////////////////////////*** Menu Mobile ****/

.menuMobile {
    display: none;
    position: absolute;
    right: 30px;
    top: 15px;
}
.clickMenuMobile {
    width: 35px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #333333;
}
@media screen  and (max-width: 900px) and (min-width: 100px) {
    .menuMobile {
        display: block;
    }
}

/*//////////////////////////////////////////////////////////////////////////////*** Column System ****/

.container {
    margin: auto;
    box-sizing: border-box;
}
.contain {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px 20px 0px 20px;
}
.containProduct {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px 0px 0px 0px;
}
.col-1 {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
}
.col-3 {
    flex: 3;
    box-sizing: border-box;
    padding: 10px;
}
.col-1-prod {
    flex: 1;
    box-sizing: border-box;
}
.col-3-prod {
    flex: 3;
    box-sizing: border-box;
    padding-left: 20px;
}
.col-blog {
    flex: 1 1 33%;
    box-sizing: border-box;
    padding: 20px;
}
.col-search {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding: 20px;
}

@media screen  and (max-width: 900px) and (min-width: 100px) {
    .col-1,
    .col-3,
    .col-1-prod {
        flex: 1 1 100%;
        width: 100%;
    }
    .col-3-prod {
        flex: 1 1 100%;
        width: 100%;
        padding: 20px 0px 0px 0px;
    }
}

/*//////////////////////////////////////////////////////////////////////////////*** Post ****/

.headerCategory {
    text-align: center;
    background-color: #95c11f;
}
.singlePostImg.tumbnail {
    max-width: 100%;
}

/*//////////////////////////////////////////////////////////////////////////////*** Form ****/

input,
textarea,
select {
    padding: 20px;
    border: solid 1px #999999;
    border-radius: 20px;
    width: 100%;
    margin: 5px;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 25px;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: 0px 0px 4px #e0e0e0;
}
.wpcf7-list-item {
    margin-left: 5px;
}
input.checkbox {
    width: 3%;
    display: inline;
}
input.checkbox:focus {
    box-shadow: none;
}
input#legacy.checkbox {
    border: solid 1px #999999;
}
.checkboxLink {
    padding-left: 40px;
    margin-top: -42px;
    padding-bottom: 20px;
}
.checkboxLink a {
    text-decoration: underline;
    color: #95c11f;    
}
.wpcf7-not-valid-tip {
    padding-left: 5px;
}
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
    border: solid 0.5px #b90000;
    margin-top: 0px;
    border-radius: 15px;
    background-color: #b900002d;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px #e0e0e0;
}
.wpcf7 form.sent .wpcf7-response-output {
    border: solid 0.5px #46b450;
    margin-top: 0px;
    border-radius: 15px;
    background-color: #46b4502d;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px #e0e0e0;
}
.wpcf7-not-valid-tip {
    font-size: 15px;
    font-style: italic;
}
.requiredField {
    font-size: 15px;
    font-style: italic;
}

/*//////////////////////////////////////////////////////////////////////////////*** Header ****/

.header-page {
    text-align: center;
    font-size: 22px;
    padding: 80px;
    color: white;
}

/*//////////////////////////////////////////////////////////////////////////////*** Prodotti ****/

.prod {
    background: url('http://localhost/ortobio-broggini/wp-content/uploads/2021/09/chi-siamo-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
th,
td {
    box-sizing: border-box;
    padding: 5px 5px 5px 20px;
}

tr:nth-child(even) {
    background-color: rgb(250, 249, 249);
}

.thumbnal-img img {
    width: 100%;
    height: 100%;
}

/*//////////////////////////////////////////////////////////////////////////////*** Ordine ****/

.orderMobile {
    display: none;
}

@media screen  and (max-width: 900px) and (min-width: 100px) {
    .orderDesktop {
        display: none;
    }
    .orderMobile {
        display: block;
    }
}

/*//////////////////////////////////////////////////////////////////////////////*** Image ****/

img {
    border-radius: 15px;
    box-shadow: 0px 0px 4px #e0e0e0;
}
.img-home {
    margin-bottom: 20px;
}
@media screen  and (max-width: 900px) and (min-width: 100px) {
    .instagram {
        display: none;
    }
}

/*//////////////////////////////////////////////////////////////////////////////*** Galleria ****/

.gallery {
    margin-bottom: 50px;
}

/*//////////////////////////////////////////////////////////////////////////////*** Widget ****/

h1.widget-title {
    padding-bottom: 10px;
    font-size: 20px;
}

/*//////////////////////////////////////////////////////////////////////////////***  Contatti ****/

.google-maps {
    position: relative;
    padding-bottom: 300px;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
}

/*//////////////////////////////////////////////////////////////////////////////*** Breadcrumbs ****/

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb a {
    color: #95c11f;
    text-decoration: none;
}

/*//////////////////////////////////////////////////////////////////////////////*** News ****/

.news {
    width: 100%;
    border: dashed 2px #95c11f;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px #e0e0e0;
    text-transform: uppercase;
}
.news a {
    color: #95c11f;
}